#container.container-fluid
  #app.row-fluid
    #player
      #playlist
        h6 Playlist
        ul.tracks
      #nowPlaying
        img.artcurrent(src="http://placehold.it/250x250")
        .progress
          .bar
        #currentinfo
      #controls
        button.prev.btn.icon-backward
        button.play.btn.icon-play 
        button.next.btn.icon-forward
    #browserView
    #fileUpload.modal.hide.fade
      .modal-header
        h3 Add tracks
      ul.modal-body
      .modal-footer
        a#uploadButton.btn.btn-primary Upload
