doctype 5
html
  head
    title MuseJS
    != css('style')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    script(type="text/template", id="albumTemplate")
      span \<%=title%> 
      span \<%=artist%>
    script(type="text/template", id="browserTemplate")
      h2 \<%=name%>
      \ <ul id="<%=name%>-list"></ul>
    script(type="text/template", id="playerTemplate")
      span.title \<%=title%>
      br
      span.artist \<%=artist%>
    script(type="text/template", id="uploadTemplate")
      #fileUpload.modal.hide.fade
        .modal-header
          h3 Add tracks
        ul.modal-body
        .modal-footer
          a#uploadButton.btn.btn-primary Upload
    != js('app')
  body!= body